flow2.txt
[{"id":"7782bbb3.1fb104","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"62a02296.0290fc","type":"inject","z":"7782bbb3.1fb104","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":160,"wires":[["6269877.b1d2778"]]},{"id":"6269877.b1d2778","type":"function","z":"7782bbb3.1fb104","name":"payload","func":"msg.headers={\n    deviceKey:\"dGFGCbSM9yY9eu1N\"\n    \n};\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["e0c9a172.83d0d"]]},{"id":"e0c9a172.83d0d","type":"http request","z":"7782bbb3.1fb104","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DNqrJykr/datachannels/temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":470,"y":280,"wires":[["1a80f340.5a1a9d","820f2bb5.169f78"]]},{"id":"1a80f340.5a1a9d","type":"http response","z":"7782bbb3.1fb104","name":"","statusCode":"","headers":{},"x":650,"y":360,"wires":[]},{"id":"820f2bb5.169f78","type":"debug","z":"7782bbb3.1fb104","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":520,"wires":[]}]